.pl{
    background-color: green;
    padding: 40px 0;
}

.p-card-a{
    text-decoration: none;
    color: #fff;
}

.p-title{
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.p-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.p-card-button-sec{
    width: 100%;
    background-color: greenyellow;
}

.p-card-button{
    color: #fff !important;
    font-weight: bold !important;
}

.p-card-content{
    background-color: rgba(211, 211, 211, 0.4);
}

@media only screen and (max-width: 767px){
    .pl{
        margin-top: 40px;
        width: 100vh;
    }
    .p-title{
        text-align: center;
        display: flex;
        margin: auto;
    }
    .p-card{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center !important;
    }
}