.separate{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

button.MuiButtonBase-root{
  color: #111 !important;
}

header{
  background-color: #fff !important;
}

a.dec-none{
  text-decoration: none;
}